<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Traffic Light in CSS" />
    <link rel="stylesheet" href="/styles/traffic.css" />
    <title>Traffic Light</title>
    <script src="/js/traffic.js" defer></script>
  </head>
  <body>
    <header></header>
    <main>
      <div class="box">
        <div id="redLamp" class="item-box"></div>
        <div id="yellowLamp" class="item-box"></div>
        <div id="greenLamp" class="item-box"></div>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
