* {
  background: whitesmoke;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 100px;

  .input-style {
    display: block;
    border-radius: 10px;
    margin-bottom: 20px;
    height: 20px;
    padding: 5px;
  }

  .label-style {
    display: block;
    border-radius: 0px;
    margin-bottom: 20px;
    height: 20px;
    padding: 5px;
    color: black;
    border: 2px solid black;
  }

  .btn-style {
    padding: 10px;
    background-color: gray;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .span-style {
    display: none;
    color: red;
    margin-top: -20px;
    margin-bottom: 20px;
  }
}
