* {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.box {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  background: black;

  .item-box {
    border: 2px solid black;
    background-color: red;
    width: 200px;
    height: 100px;
    border-radius: 50%;

    &:nth-child(2) {
      background-color: gray;
    }

    &:nth-child(3) {
      background-color: gray;
    }
  }
}
